In [2]:
#Synthetic Transactions 
import numpy as np
import pandas as pd

np.random.seed(42)
n = 3000

df = pd.DataFrame({
    "customer_id": np.random.randint(0, 800, n),
    "order_date": pd.to_datetime("2023-01-01") + pd.to_timedelta(np.random.randint(0, 365, n), unit="D"),
    "revenue": np.random.uniform(20, 200, n)
})

df["cohort"] = df.groupby("customer_id")["order_date"].transform("min").dt.to_period("M")
df["order_month"] = df["order_date"].dt.to_period("M")

cohort_data = df.groupby(["cohort", "order_month"])["revenue"].sum().reset_index()
cohort_data.head()
cohort_pivot = cohort_data.pivot(index="cohort", columns="order_month", values="revenue")
cohort_pivot.fillna(0, inplace=True)
cohort_pivot

order_month,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
cohort,,,,,,,,,,,,
2023-01,25421.549647,5892.583758,5960.712184,7980.795436,6418.003602,6106.694272,8596.793816,7669.378798,6214.709075,6840.855892,5643.803398,7598.461014
2023-02,0.000000,18399.407760,4560.753968,5986.146365,5333.469438,5940.837467,5745.921289,4395.120842,5642.507868,5574.514662,7352.954686,5103.234606
2023-03,0.000000,0.000000,17186.925359,3900.628763,4570.651233,4639.695927,4456.721745,6123.968616,4377.038192,5054.162140,3975.247358,3884.495400
2023-04,0.000000,0.000000,0.000000,11323.759726,3703.078591,3828.695848,3087.418244,1970.786563,3514.239936,3479.853827,3718.594155,2710.325258
2023-05,0.000000,0.000000,0.000000,0.000000,6738.925921,2162.200968,2999.532425,2123.135344,1873.448909,2583.049366,2377.018235,2964.836266
2023-06,0.000000,0.000000,0.000000,0.000000,0.000000,5182.570775,974.178386,1217.422776,720.771013,637.197816,1119.799635,1027.357119
2023-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4340.076073,421.515251,940.121200,1016.613010,1310.000204,1321.150024
2023-08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2572.255182,1048.213195,813.021693,456.713179,691.377708
2023-09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2465.799353,379.590798,473.746790,898.308497
2023-10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,946.106344,157.856317,28.470508
2023-11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,613.088497,393.074573
2023-12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,862.825758